
<div class="badge">
	@if (User != null)
	{
		<h2>
			@User.Name joined
			@User.AllegianceDisplay!
		</h2>
		<p>Will you join them?</p>
		<img src="@User.Url" />
	}
</div>

@code {
	[Parameter]
	public User? User { get; set; }
}
