@using System.Text

@inject CobraStateContainer CobraStateContainer

<HeadContent>
	<meta property="og:image" content="@CobraStateContainer.currentUser.Url" />
	<meta property="twitter:image" content="@CobraStateContainer.currentUser.Url" />
</HeadContent>

<div class="me">
	<Badge />
	<Editor />
</div>

@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		CobraStateContainer.OnStateChange += StateHasChanged;
	}

	public void Dispose() => CobraStateContainer.OnStateChange -= StateHasChanged;
}