<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="app.css" />
	<link rel="stylesheet" href="CobraCon.styles.css" />
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<link rel="icon"
				type="image/png"
				href="/images/favicon-16x16.png"
				sizes="16x16" />
	<link rel="icon"
				type="image/png"
				href="/images/favicon-32x32.png"
				sizes="32x32" />
	<link rel="apple-touch-icon"
				href="/images/apple-touch-icon.png"
			sizes="180x180" />
	<meta name="robots" content="index, follow" />
	<link rel="manifest" href="/site.webmanifest" />


	<title>CobraCon 2023: Mission Briefing</title>
	<meta name="title" content="CobraCon 2023: Mission Briefing" />
	<meta name="description" content="Earn your badge, join the ranks, and let history remember your name!" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content={permalink} />
	<meta property="og:title" content="CobraCon 2023: Mission Briefing" />
	<meta property="og:description" content="Earn your badge, join the ranks, and let history remember your name!" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:site" content="@@michaeljolley" />
	<meta property="twitter:creator" content="@@michaeljolley" />
	<meta property="twitter:title" content="CobraCon 2023: Mission Briefing" />
	<meta property="twitter:description" content="Earn your badge, join the ranks, and let history remember your name!" />

  <HeadOutlet />

</head>

<body>
	<div class="overlay"></div>
	<div class="terminal">
		<Routes />
		<script src="_framework/blazor.web.js"></script>

		<script id="clerkTag" async data-clerk-frontend-api="free-eft-35.clerk.accounts.dev" data-clerk-publishable-key="pk_test_ZnJlZS1lZnQtMzUuY2xlcmsuYWNjb3VudHMuZGV2JA" 
						src="https://free-eft-35.clerk.accounts.dev/npm/@@clerk/clerk-js@latest/dist/clerk.browser.js"></script>
		<script src="/app.js"></script>
	</div>
</body>

</html>
