@import 'https://fonts.googleapis.com/css?family=Inconsolata';

:root {
	--bg-gradient-green: radial-gradient(#11581e, #041607);
	--bg-gradient-red: radial-gradient(#581111, #160404);
	--bg-gradient-gray: radial-gradient(#030303, #1f1f1f);

	--bg-index-card: #f3be8d;
	--card-gray: #041607;
	--bg-selected-cobra: #581111;
	--bg-selected-gijoe: #11581e;

	--text-gray: rgba(136, 136, 136, 0.8);
	--text-green: rgba(15, 157, 88, 0.8);
	--text-red: rgba(185, 131, 125, 0.8);

	--header-gray: rgba(225, 225, 225, 0.8);
	--header-green: rgba(15, 157, 88, 0.8);
	--header-red: rgb(255, 0, 0);

	--text-shadow-green: 0 0 1ex rgba(51, 255, 51, 1),
		0 0 2px rgba(255, 255, 255, 0.8);
	--text-shadow-red: 0 0 1ex rgb(251 126 111), 0 0 2px rgb(75 10 10 / 80%);
	--text-shadow-gray: 0 0 1ex rgb(137 146 158), 0 0 2px rgb(206 199 199 / 80%);

	--scan-green: linear-gradient(
		0deg,
		transparent 0%,
		rgba(32, 128, 32, 0.2) 2%,
		rgba(32, 128, 32, 0.8) 3%,
		rgba(32, 128, 32, 0.2) 3%,
		transparent 100%
	);

	--scan-gray: linear-gradient(
		0deg,
		transparent 0%,
		rgba(120, 120, 120, 0.2) 2%,
		rgba(51, 51, 51, 0.8) 3%,
		rgba(120, 120, 120, 0.2) 3%,
		transparent 100%
	);

	--scan-red: linear-gradient(
		0deg,
		transparent 0%,
		rgba(128, 32, 32, 0.2) 2%,
		rgba(154, 20, 20, 0.8) 3%,
		rgba(128, 32, 32, 0.2) 3%,
		transparent 100%
	);

	/** DEFAULTS **/
	--bg-image: var(--bg-gradient-gray);
	--bg-blend: unset;
	--scan-lines: var(--scan-gray);
	--text: var(--text-gray);
	--text-header: var(--header-gray);
	--text-shadow: var(--text-shadow-gray);
	--modal-bg-image: var(--bg-gradient-gray);
	--modal-bg-blend: unset;
	--modal-link-hover: #fff;
}

[data-theme='gijoe'] {
	--bg-image: url(/images/gijoe.png), var(--bg-gradient-green);
	--bg-blend: difference;
	--scan-lines: var(--scan-green);
	--text: var(--text-green);
	--text-shadow: var(--text-shadow-green);
	--modal-bg-image: url(/images/gijoe.png), var(--bg-gradient-gray);
	--modal-bg-blend: multiply;
	--modal-link-hover: #fff;
}

[data-theme='cobra'] {
	--bg-image: url(/images/cobra.png), var(--bg-gradient-red);
	--bg-blend: difference;
	--scan-lines: var(--scan-red);
	--text: var(--text-red);
	--text-header: var(--header-red);
	--text-shadow: var(--text-shadow-red);
	--modal-bg-image: url(/images/cobra.png), var(--bg-gradient-gray);
	--modal-bg-blend: difference;
	--modal-link-hover: var(--text-header);
}

html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-blend-mode: var(--bg-blend);
	font-family: 'Inconsolata', Helvetica, sans-serif;
	font-size: 1.5rem;
	color: var(--text);
	text-shadow: var(--text-shadow);
}

.overlay {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0.3) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	background-size: auto 4px;
	z-index: 3;
}

.overlay::before {
	content: '';
	pointer-events: none;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: var(--scan-lines);
	background-repeat: no-repeat;
	animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
	0% {
		background-position: 0 -100vh;
	}
	35%,
	100% {
		background-position: 0 100vh;
	}
}

.terminal {
	box-sizing: inherit;
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: 100%;
	padding: 2rem 4rem;
	text-transform: uppercase;
	color: var(--text);
	text-shadow: var(--text-shadow);
}

@media screen and (max-width: 600px) {
	.terminal {
		padding: 2rem;
	}
}

p::before {
	content: '> ';
	color: var(--text-header);
}

ul {
	padding: 0;
}
li {
	list-style: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

a {
	color: #fff;
	text-decoration: none;
}

a::before {
	content: '[';
}

a::after {
	content: ']';
}

h1,
h2,
h3,
.code {
	color: var(--text-header);
}

button {
	border: 3px solid var(--text-header);
	background: transparent;
	color: var(--text-header);
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.opener {
	flex: 0 1 auto;
}

/** CLERK **/

.cl-card {
	color: var(--text);
	text-shadow: var(--text-shadow);
	background-image: var(--modal-bg-image);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-blend-mode: var(--modal-bg-blend);
	border: none;
}
.cl-logoBox {
	display: none;
}
.cl-headerTitle {
	text-transform: uppercase;
	color: var(--text-header);
	text-shadow: none;
	font-weight: 700;
}
.cl-header p {
	color: var(--text);
	text-shadow: none;
}
.cl-header p:before {
	content: '';
}

.cl-modalCloseButton {
	color: var(--text-header);
	fill: var(--text-header);
}
.cl-socialButtonsBlockButton {
	border-color: var(--text);
}
.cl-socialButtonsBlockButton:hover .cl-socialButtonsBlockButtonText {
	font-weight: 700;
	text-shadow: none;
	color: var(--modal-link-hover);
}
.cl-socialButtonsBlockButtonText {
	color: var(--text);
}
.cl-socialButtonsBlockButton svg {
	fill: var(--text-header);
	color: var(--text-header);
}
.cl-footerAction,
.cl-footerActionText {
	color: var(--text);
	text-shadow: none;
}

.cl-footerAction a {
	color: var(--text-header);
}

.cl-footerAction a:hover,
.cl-footerAction a:active {
	color: var(--modal-link-hover);
}
