---
export const prerender = false;
import BaseHead from '../components/BaseHead.astro';
import '../styles/main.css';
import App from '../components/App';

const title = 'CobraCon 2023: Mission Briefing';
const description =
	'Earn your badge, join the ranks, and let history remember your name!';
const permalink = 'https://cobracon.netlify.app/';
let ograph = null;

const url = new URL(Astro.request.url);
const { searchParams } = url;

if (searchParams.get('code')) {
	const code = atob(searchParams.get('code')!);

	const res = await fetch(`httpd://cobracon.netlify.app/getBadgeUrl`, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify({ uid: code }),
	});
	if (res.ok) {
		const { url } = await res.json();
		ograph = url;
	}
}
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} {ograph} />
	</head>
	<body>
		<div class="overlay"></div>
		<div class="terminal">
			<App client:only />
		</div>
	</body>
</html>
