---

import Layout from "../layouts/default.astro";
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import Choose from "../components/Choose";
import FirstName from "../components/FirstName";

const cookies = Astro.request.headers.cookies;
const clientToken = cookies.get('__session');  

const client = await clients.verifyClient(sessionToken);
const sessionId = client.lastActiveSessionId;
 
const session = await sessions.verifySession(sessionId, clientToken);

console.dir(session, {depth:null})
// const clerkFrontendApi = 'pk_test_ZnJlZS1lZnQtMzUuY2xlcmsuYWNjb3VudHMuZGV2JA';
// const clerk = new Clerk(clerkFrontendApi);
// await clerk.load();


// if (!page) return Astro.redirect("/");

const title = "CobraCon 2023: Pick a Side";
const description = "Earn your badge, join the ranks, and let history remember your name!";
const permalink = "https://cobracon.netlify.app/choose/";
---

<Layout {title} {description} {permalink}>
    
  <h1>WELCOME <FirstName client:only/></h1>
    test

    <Choose client:only/>

</Layout>