---
import BaseHead, {
  type Props as BaseHeadProps,
} from "../components/BaseHead.astro";
import "../styles/main.css";

import TextInput from "../components/TextInput";

export interface Props extends BaseHeadProps {}

const { title, description, permalink } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink}/>
	</head>
	<body>
		<div class="overlay"></div>
		<div class="terminal">
			<h1>Error <span class="errorcode">404</span></h1>
			<p>The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
			<p>Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
			<p>Enter your name below.</p>
			<TextInput type="text" name="test" client:load/>
		</div>
	</body>
</html>
