---
export const prerender = false;
import BaseHead, {
	type Props as BaseHeadProps,
} from '../components/BaseHead.astro';
import '../styles/main.css';
import App from '../components/App';

const title = 'CobraCon 2023: Mission Briefing';
const description =
	'Earn your badge, join the ranks, and let history remember your name!';
const permalink = 'https://cobracon.netlify.app/';

const code = new URL(Astro.request.url).searchParams.get('code');
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<div class="overlay"></div>
		<div class="terminal">
			<App client:only code={code} />
		</div>
	</body>
</html>
