.allegiance {
	display: flex;
	gap: 0.5rem;
	margin-bottom: -3px;
	z-index: 2;
}

.allegiance button {
	display: flex;
	justify-items: center;
	width: 40%;
	align-items: center;
	color: var(--card-gray);
	font-size: 1.25rem;
	font-weight: 700;
	background-color: var(--text-gray);
	border: 3px dashed var(--card-gray);
	border-radius: 1rem 1rem 0 0;
	margin: 0;
}

.allegiance button svg {
	fill: var(--card-gray);
	margin-right: 0.5rem;
}

.allegiance button svg {
	width: 2.5rem;
	height: 2.5rem;
}

.allegiance button.selected,
.allegiance button.selected {
	background-color: var(--bg-index-card);
	color: var(--card-gray);
	border-bottom: solid transparent;
}

.allegiance button.cobra:hover svg,
.allegiance button.cobra.selected svg {
	fill: var(--bg-selected-cobra);
}
.allegiance button.gijoe:hover svg,
.allegiance button.gijoe.selected svg {
	fill: var(--bg-selected-gijoe);
}
