.roster {
	display: flex;
	flex-direction: column;
	color: var(--card-gray);
	font-size: 1.25rem;
	font-weight: 700;
	background-color: var(--bg-index-card);
	border: 3px dashed var(--card-gray);
	border-radius: 0 1rem 1rem 1rem;
	margin: 0;
	padding: 0 1rem;
}

.roster h3 {
	color: var(--card-gray);
	text-shadow: none;
}

.roster ul {
	display: none;
	margin: 0;
}

.roster ul.selected {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: auto;
}

@media screen and (max-width: 640px) {
	.roster ul.selected {
		grid-template-columns: 1fr;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
	.roster ul.selected {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
