p:has(.input)::before {
  content: '';
}
/* 


input {
  position: absolute;
  width: 100%;
  outline: none;
  caret-color: transparent;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
} */

.input-wrap {
  position: relative;
}

.input-wrap::before {
  content: "$";
  margin-right: 0.7rem;
}

.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  text-transform: uppercase;
  caret-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.width-machine {
  visibility: hidden;
}

.input-wrap > .cursor {
  animation: blink 1s step-end infinite;
  border-bottom: 2px solid white;
  width: .5rem;
  display: inline-block;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
} 
